*{
    padding: 0px;
    margin:0px;
}
h1{
 font-family: 'UnifrakturCook', cursive;
 color: red;
 text-align: center;
 text-shadow: 2px 2px white;
 font-size: 40pt;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-family: 'UnifrakturCook', cursive;
}

li a{

  text-decoration: none;
  color:white;
}


li{
    font-family: 'UnifrakturCook', cursive;
    display:inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: black;
    font-size: 20pt;
    text-shadow: 2px 2px red;
}

/* Change the link color to #111 (black) on hover */
li a :hover {
    background-color: #111;
}
#home-body{
  height:1000px; 
  width:100%;
  background-color: white;
  background-size: 100%;
  background-image: url('pic3.png');
  background-position: cover;
  
}
.wrapper {
  height: 900px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('tj3edit.jpg');
  background-position: center;
  background-color: red;
  
  

}
#title-h1{
    font-family: 'Limelight', cursive;
    font-size: 70pt;
    color: red;
    text-align: center;
    margin-top: 30px;
    /*text-shadow: 2px 2px red;*/
    /*padding-top: 2px;*/
}

.footer{
   text-align: center;
   position:fixed;
   /*left:0px;*/
   padding-bottom: 80px;
   bottom:0px;
   height:60px;
   width:100%;
   background:black;
   color:white;
}
#pageone{
  background-image: url('pic1.png');
  background-color: red;
  background-position: center;
  background-size: 150% 200%;
  width: 100%;
  height: 600px;
  /*padding-top: -50px;*/
}


.parallax { 
    /* The image used */
    background-image: url("tj4edit.jpg");

    /* Set a specific height */
    height: 800px; 
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
}
}
#jiren{
  border: 2px solid black;
  height: 700px;
  width: 100%;
  background-image: url('tj5edit.jpg');
  background-position: center;
  background-color: black;
  background-size: 100% 170%;
  
}

#parallax2 { 
    /* The image used */
   background-image: url('pic4.png');

    /* Set a specific height */
    height: 500px; 
    width: 100%;

     Create the parallax scrolling effect 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#vegeta{
  background-image: url('pic3edit.jpg');
  height: 700px; 
  width: 100%;
  background-size: 50% 100%;
  background-position: center;
 
}
#footer-image{
	border: 2px solid white;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	padding-bottom: 20px;
	background-image: url('pic4.png');
	background-position: center;
	background-size: 120% 200%;
	float: left;
}
p{
	margin-top: 3%;
	/*margin-left: 1%;
	padding: 1%;*/
}
.fa {
    padding-top: 20px;
    font-size: 50px;
    width: 100px;
    text-align: center;
    text-decoration: none;
}
.fa-instagram{
	 background: black;
    color: purple;
    font-size: 50px;

}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}
